@media only screen and (max-width: 1440px){
    .p1{
     position: relative;
     top: -80px;
     left: 35px;
    }
     .p2{
     position: relative;
     top: -50px;
     left: 30px;
    }
   
    .btn{
     position: relative;
     top: -40px;
     left: 0px;
    }
    .nav_list{
     left: 70px;
 }
    .social_icons{
     position: relative;
     top: -100px;
     left: 40px;
    }
    .foto2{
        left: 70%;
    }
    .available{
        left: 500px;
    }
    .btn{
        left: 30px;
    }
    .dizajnet{
        position: relative;
        top: -2490px;
        left: 50px;
    }

 }
 @media only screen and (max-width: 1024px){
     .featured-text{
         padding: 0;
     }
     .image, .image img{
         position: relative;
         justify-content: center;
         align-items: center;
         top: -20px;
         left: -10%;
         width: 380px;
         height: 380px;
     }

     .foto2{
        left: 350px;
        border-radius: 25px;
        box-shadow: 20px black;
     }
     .eroni{
         font-family: "Manrope", sans-serif;
         font-style: normal;
         position: relative;
         width: 250px;
         top: -150px;
         text-align: center;
         left: -30px;
     }
     .p1{
         font-family: "Manrope", sans-serif;
         position: relative;
         top: -200px;
         text-align: center;
         left: -20%;
         align-items: center;
     }
     .nav_list{
         left: 40px;
     }
 
     .p2{
         position: relative;
         font-family: "Manrope", sans-serif;
         font-style: normal;
         top: -200px;
         left: 20px;
         width: 400px;
         font-size: 16px;
         font-style: normal;
     }
     .btn{
         position: relative;
         top: -220px;
         left: 200px;
     }
     .social_icons{
         position: relative;
         top: -340px;
         left: 25px;
     }
     .available{
        left: 400px;
        top: 30px;
     }
     .about-info{
        width: 70%;
        left: 80px;
     }
     .portfolio-content{
        top: 200px;
     }
     .text1{
        top: 100px;
     }

     .services-content{
        top: 450px;
        left: 15px;
     }
     .text2{
        top: 350px;
     }
     .contact-info{
        top: 1800px;
     }
     .form-inputs{
        position: relative;
        top: -150px;
     }
     .text-area{
        position: relative;
        top: -140px;
        width: 90%;
     }
     .btn1{
        position: relative;
        top: -150px;
     }

     .getin{
        top: 1500px;
     }
     .s1{
        top: 1550px;
     }

     footer{
        width: 1024px;
     }
 }
 /* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
 
 @media only screen and (max-width: 768px) {
     .nav-button{
         display: none;
     }
     .nav-menu.responsive{
         left: 0;
     }
     .nav-menu{
         position: fixed;
         top: 80px;
         left: -100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background: rgba(255, 255, 255, 0.7);
         backdrop-filter: blur(20px);
         width: 100%;
         min-height: 450px;
         height: 90vh;
         transition: .3s;
     }
     .nav_menu_list{
         flex-direction: column;
     }
     .nav-menu-btn{
         display: flex;
         align-items: center;
         justify-content: center;
     }
     .featured-box{
         flex-direction: column;
         justify-content: center;
         height: 100vh;
         width: 900px;
         justify-content: center;
         align-items: center;
         left: -10px;
         
     }
   
     .nav-logo{
        
        left: 20px;
    }
     .featured-text{
         width: 90%;
         order: 2;
         justify-content: center;
         align-content: flex-start;
         min-height: 60vh;
     }
     .social_icons{
         margin-top: 2em;
         width: 5px;
        align-items: center;
       
         
     }
     .featured-image{
         order: 1;
         justify-content: center;
         min-height: 150px;
         width: 100%;
         margin-top: 65px;
     }
     .image{
         position: relative;
         left: 200px;
         top: 0px;
         width: 500px;
         height: 500px;
     }
     .image img{
         position: relative;
         left: 0px;
         justify-content: center;
         align-items: center;    
         width: 500px;
         height: 500px;
     }
     .available{
         top: -150px;
         left: 700px;
     }
     
      .p2{
         position: relative;
         top: -150px;  
         width: 300px;
     }
     .p1{
         position: relative;
         top: -300px;
         left: -325px;
         align-items: center;
         text-align: center;
     }
     .row{
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 50px;
     }
     .col{
         display: flex;
         justify-content: center;
         width: 100%;

     }
    
     .about-info{
        width: 100%;
        left: 20%;
        top: 00px;
    }
    .a1{
        position: relative;
        top: -250px;
        left: 20%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .foto2{
        position: relative;
        left: 450px;
        border-radius: 40px;
        top: -300px;
    }
 
    .skills-header{
        position: relative;
        top: -720px;
        left: 700px;
        
    }
    .skills-list{
        position: relative;
        top: -720px;
        left: 700px;
    }
    
    .skills-container{
        top: 300px;
        left: 40%;
    }
    .skills-img{
        width: 450px;
        height: 450x;
    }
    .skillsat{
        top: 300px;
        left: 20%;
    }

    .text1{
        top: -600px;
        left: 20%;
    }
    .portfolio-content{
        top: -600px;
        left: 40%;
    }

    .text2{
        top: -550px;
        left: 20%;
            
    }
    .services-content{
        top: -550px;
        left: 20%;
    }
            
            
    .contact-info{
        top: 2100px;
        width: 50%;
        left: -100px;
    }
    
    .form-inputs{
        top: -265px;
        left: 400px;
    }
    .text-area{
        top: -265px;
        left: 400px;
        width: 97%;
    }
     .project-container{
         justify-content: center;
     }
     .project-box{
         width: 80%;
     }
     .btn1{
        top: -250px;
        left: 106%;
     }
     .eroni{
         position: relative;
         top: -240px;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
     .getin{
        position: relative;
        top: 1800px;
        left: 20%;
     }

     .s1{
        top: 1800px;
        left: 20%;
     }
     footer{
        top: 300px;
     }
     .btn{
         position: relative;
         top: -150px;
         left: 3%;
     }
     .pozita{
         top: 0px;
         left: 3%;
     }
     .social_icons{
         position: relative;
         top: -155px;
         left: 3%;
     }
     .scroll-btn{
         top: 900px;
         left: 50%;
     }
     .foto{
        left: 50%;
        top: 300px;
     }
     .foto1{
        left: 90%;
        top: 290px;
     }
 }/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */
@media only screen and (max-width: 540px){

    .featured-box{
        height: 1500px;
        width: 700px;
        left: 40%;
    }
    .eroni{
        top: -750px;
        left: -10%;
        width: 400px;
        font-size: 60px;
    }
    .available{
        width: 40%;
        top: -675px;
        left: 380px;
        font-size: 40px;
        font-family: "Manrope",sans-serif;
        
    }
    .p1{
        font-size: 215%;
        top: -850px;
        left: -200px;
    }
    .featured-image{
        position: relative;
        left: -220px;

   
    }
    .image img{
        position: relative;
        top: -300px;
        height: 900px;
        width: 900px;
        justify-content: center;
        align-items: center;
        left: -198px;
    }
    
    
}

/*making resposinves for 340 */

@media (max-width: 340px) {
    
    .home-text span {
      font-size: 1rem;
    }
    .home-text h2 {
      font-size: 0.9rem;
      font-weight: 500;
    }
    .information .info-box span {
      font-size: 1rem;
    }
    .portfolio-content {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .contact-form form{
      width: 300px;
    }
    .contact-button{
      margin-left: 25%;
    }
  }
